---
Checks: >
    -*,
    clang-analyzer-*,
    bugprone-*,
    readability-*,
    -readability-braces-around-statements,
    -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
SystemHeaders:   false
...
